In [10]:
import pandas as pd
import numpy as np
data = pd.read_csv("/home/developer/Downloads/archive/Student_performance_data _.csv")
data.head()
data.tail()
data.describe()
data.info()
series = data["Sports"]
n=12
bottom = series.tail(n=n)
bottom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

2380    1
2381    0
2382    0
2383    0
2384    1
2385    1
2386    0
2387    0
2388    1
2389    0
2390    1
2391    0
Name: Sports, dtype: int64

In [11]:
null_values = data.isna()
null_values

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2388,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2389,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2390,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2391,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [13]:
null_summary = data.isna().sum()
null_summary

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [15]:
null_count = data.isna().count()
null_count

StudentID            2392
Age                  2392
Gender               2392
Ethnicity            2392
ParentalEducation    2392
StudyTimeWeekly      2392
Absences             2392
Tutoring             2392
ParentalSupport      2392
Extracurricular      2392
Sports               2392
Music                2392
Volunteering         2392
GPA                  2392
GradeClass           2392
dtype: int64